<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="shortcut icon" href="../images/letter-s-logo-1-01-.webp" type="image/x-icon">
    <title>Clothes-Shopiz</title>
</head>
<body>
    <div class="header">
        <div class="top-bar">
            <div class="logo">
                <img src="../images/letter-s-logo-1-01-.webp" alt="" width="60px">
                <h3>Shoppiz</h3>
            </div>
            
            <div>
                <input type="text" placeholder="Search for something..." class="input-search">
                <button>Search</button>
            </div>    
            <div class="signup">
                <a href="signup.html"><img src="../images/—Pngtree—default male avatar_5939655.png" class="man-avatar" alt="" srcset="" height="40px" width="40px"><span>Sign in or create account</span></a>
            </div>    
        </div>
        <div>
            <div class="nav-bar">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="clothing.html">Clothing</a></li>
                    <li><a href="shoes.html">Shoes</a></li>
                    <li class="new">new</li>
                    <li><a href="#">Food</a></li>
                    <li><a href="electronics.html">Tech </a></li>
                    <li class="drop-down">
                        <a href="#">More</a>
                        <div class="drop-down-menu">
                            <a href="#">Payment</a>
                            <a href="#">Sponsers</a>
                            <a href="#">Get the app</a>
                        </div>
                    </li>

                    
                </ul>
            </div>
        </div>
    </div> 
    <div class="body">
        <div class="deco">
            <div class="side-pre">
                <h1>Fashion Collection for men, ladies and Kidz</h1>
                <p class="lorem-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore doloremque, ipsa facilis placeat maiores praesentium minima corrupti similique pariatur vel illum veritatis officia autem omnis quam possimus. Quo, deleniti mollitia.</p>
                <h1>30% Discount</h1>
                <button>View all</button>
                <button>Discover</button>
            </div>
            <div class="images">
                <img src="../images/kisspng-t-shirt-hoodie-black-lives-matter-clothing-hoodie-5ab9975e09d5c9.4872239115221123500403.png" alt="" width="500px">
            </div>
        </div>
    </div> 
    <div class="info">
        <div class="info-items-header">
            <p>In the store for you</p>
            <h1>Mens Collection</h1>
        </div>
        <div class="products">
            <div class="product-items">
                <img src="../images/jackets_bershka.jpg" alt="">

                <div>
                    <h1 class="header-text">Outdoor Jacket</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit excepturi aperiam fugiat velit vel delectus dicta eaque veritatis! Veritatis voluptatum provident repudiandae eveniet hic atque recusandae. Quia assumenda voluptatum eveniet.</p>
                    <span class="new">25% OFF</span>
                    <h3 class="header-text"><del>$15.00</del>&nbsp;&nbsp;&nbsp;&nbsp;<span>$9.99</span></h3>
                    <button>Buy now</button>
                </div>    
            </div>  
            <div class="product-items">
            
                <img src="../images/New folder/pants.jpg" alt="" >
                <div>
                    <h1 class="header-text">Mens pants</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, impedit. Tenetur accusantium officiis suscipit sint quae. Sapiente consequatur sit alias ad saepe ea ullam similique provident? Dolorem ut voluptatum sint.</p>
                    <h3 class="header-text"><del>$15.00</del>&nbsp;&nbsp;&nbsp;&nbsp;<span>$9.99</span></h3>
                    <button>Buy now</button>
                </div>        
            </div>  

            <div class="product-items">
                <img src="../images/New folder/tshirt.jpg" alt="">
                <div>
                    <h1 class="header-text">Mens Outdoor T-shirt</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem perferendis autem magnam distinctio. Architecto, blanditiis velit laboriosam perferendis id ex doloremque labore, non sequi, numquam animi nostrum autem atque magni.</p>
                    <h3 class="header-text"><del>$15.00</del>&nbsp;&nbsp;&nbsp;&nbsp;<span>$9.99</span></h3>
                    <button>Buy now</button>
                </div>    
            </div>  
            <div class="product-items">
                <div>
                <img src="../images/New folder/suit.jpg" alt="">

                    <h1 class="header-text">Mens Formal</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem perferendis autem magnam distinctio. Architecto, blanditiis velit laboriosam perferendis id ex doloremque labore, non sequi, numquam animi nostrum autem atque magni.</p>
                    <h3 class="header-text"><del>$15.00</del>&nbsp;&nbsp;&nbsp;&nbsp;<span>$9.99</span></h3>
                    <button>Buy now</button>
                </div>    
            </div>   
            <div class="product-items">
                <img src="../images/New folder/trousers-pants.jpeg" alt="">
                <div>
                    <h1 class="header-text">Mens sports</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem perferendis autem magnam distinctio. Architecto, blanditiis velit laboriosam perferendis id ex doloremque labore, non sequi, numquam animi nostrum autem atque magni.</p>
                    <span class="new">25% OFF</span>
                    <h3 class="header-text"><del>$15.00</del>&nbsp;&nbsp;&nbsp;&nbsp;<span>$9.99</span></h3>
                    <button>Buy now</button>
                </div>    
            </div>  
        
        </div>    
        <div class="info-items-header">
            <p>In the store for you</p>
            <h1>Womens Collection</h1>
        </div>
        <div class="products">
            <div class="product-items">
                <img src="../images/cloth/hoodie.jpeg" alt="">
                <div>
                    <h1 class="header-text">Hoodie</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum quos facilis qui pariatur, accusamus consectetur incidunt quidem ipsam tempore illo excepturi voluptatibus sint quibusdam magnam obcaecati? Modi expedita dignissimos explicabo?</p>
                    <span class="new">25% OFF</span>
                    <h3 class="header-text"><del>$15.00</del>&nbsp;&nbsp;&nbsp;&nbsp;<span>$9.99</span></h3>
                    <button>Buy now</button>
                </div>    
            </div>  
            <div class="product-items">
            
                <img src="../images/cloth/jean.jpeg" alt="">
                <div>
                    <h1 class="header-text">Outdoor jeans</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos deserunt sapiente dolores sit necessitatibus molestiae, laudantium vero corrupti voluptate dolor commodi ratione, doloribus dicta at aliquid voluptas quos corporis molestias.</p>
                    <h3 class="header-text"><del>$15.00</del>&nbsp;&nbsp;&nbsp;&nbsp;<span>$9.99</span></h3>
                    
                    <button>Buy now</button>
                </div>        
            </div>  

            <div class="product-items">
                <img src="../images/cloth/dress.jpeg" alt="">
                <div>
                     <h1 class="header-text">Casual dress</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio dolores non ad nihil repudiandae, harum aspernatur quis alias suscipit molestias voluptatibus facere et laboriosam corporis, soluta ut, fuga perferendis sequi!</p>
                    <span class="new">25% OFF</span>
                    
                    <h3 class="header-text"><del>$15.00</del>&nbsp;&nbsp;&nbsp;&nbsp;<span>$9.99</span></h3>
                    
                    <button>Buy now</button>
                </div>   
            </div>  

            <div class="product-items">
                <img src="../images/New folder/tshirt.jpg" alt="">
                <div>
                     <h1 class="header-text">Summer T-shirt</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio dolores non ad nihil repudiandae, harum aspernatur quis alias suscipit molestias voluptatibus facere et laboriosam corporis, soluta ut, fuga perferendis sequi!</p>
                    <h3 class="header-text"><del>$15.00</del>&nbsp;&nbsp;&nbsp;&nbsp;<span>$9.99</span></h3>
                    
                    <button>Buy now</button>
                </div>   
            </div>  
            <div class="product-items">
                <img src="../images/cloth/heels.jpeg" alt="">
                <div>
                     <h1 class="header-text">Formal High Heels</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio dolores non ad nihil repudiandae, harum aspernatur quis alias suscipit molestias voluptatibus facere et laboriosam corporis, soluta ut, fuga perferendis sequi!</p>
                    <h3 class="header-text"><del>$15.00</del>&nbsp;&nbsp;&nbsp;&nbsp;<span>$9.99</span></h3>
                    
                    <button>Buy now</button>
                </div>   
            </div>  
        </div>
        


        <div class="info-items-header">
            <p>In the store for you</p>
            <h1>Get The Mobile App</h1>
        </div>
        <div class="get-app">
                
            <img src="../images/prod/—Pngtree—new transparent mobile mockup png_5745370.png" alt="" width="600px">
            <div>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut, veniam. Error, in? Omnis, incidunt distinctio libero quae magni excepturi doloribus sed expedita dolorem voluptas voluptates voluptatem ratione corporis autem quibusdam atque perspiciatis quidem itaque aut, exercitationem enim sequi illum aliquid. Mollitia praesentium ipsa nobis, quidem suscipit ducimus debitis neque rerum?<br>
                <button>Download Now</button>
            </div>
        </div>
   
    </div>

    <div class="about">
        <div>
            <h3>Contact us</h1>

            <a href=""> <img src="../images/New folder/gmail-icon-38468.png" alt="" >shopiz@gmail.com</a><br>
            <a href=""> <img src="../images/New folder/telegram-icon-6248.png" alt="" >Telegram</a><br>
            <a href=""> <img src="../images/New folder/phone-icon-938.png" alt="" >+250 737 155 127</a><br>
            <a href=""> <img src="../images/New folder/whatsapp-icon-3930.png" alt="" >+250 737 155 127</a><br>


        </div>
       
        <div>
            <h3>Follow us</h1>
            <a href=""><img src="../images/New folder/facebook-logo-png-38347.png" alt="" >Facebook</a><br>
            <a href=""> <img src="../images/New folder/twitter-icon-83.png" alt="" >Twitter</a><br>
            <a href=""> <img src="../images/New folder/instagram-icon-971.jpg" alt="" >Instagram</a><br>



            
            
            <div class="copy-right">&copy;shopiz2023_all rights reserved</div>
            
        </div>
        <div>
            <h3>For more information, Visit our:</h1>
                <a href=""><img src="../images/New folder/youtube-logo-png-3566.png" alt="" >Youtube Channel</a><br>
                <a href=""> <img src="../images/New folder/pinterest-logo-icon-3178.png" alt="" >Pinterest</a><br>
                <a href=""> <img src="../images/New folder/linkedin-logo-png-2026.png" alt="" >LinkedIn</a>
                
                
                
                
                
            </div>
            
        </div>
</body>
</html>