<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/letter-s-logo-1-01-.webp" type="image/x-icon">
    <link rel="stylesheet" href="../styles/styles.css" type="text/css">
    <title>Home-Shopiz</title>
    
</head>
<body>
    <div class="header">
        <div class="top-bar">
            <div class="logo">
                <img src="../images/letter-s-logo-1-01-.webp" alt="" width="60px">
                <h3>Shoppiz</h3>
            </div>
            
            <div>
              <input type="text" placeholder="Search for something..." class="input-search">
              <button>Search</button>
            </div>  
            <div class="signup">
                <a href="signup.html"><img src="../images/—Pngtree—default male avatar_5939655.png" class="man-avatar" alt="" srcset="" height="40px" width="40px"><span>Sign in or create account</span></a>
            </div>    
        </div>
        <div>
            <div class="nav-bar">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="clothing.html">Clothing</a></li>
                    <li><a href="shoes.html">Shoes</a></li>
                    <li class="new">new</li>
                    <li><a href="#">Food</a></li>
                    <li><a href="electronics.html">Tech</a></li>
                    <li class="drop-down">
                        <a href="#">More</a>
                        <div class="drop-down-menu">
                            <a href="#">Payment</a>
                            <a href="#">Sponsers</a>
                            <a href="#">Get the app</a>
                        </div>
                    </li>

                    
                </ul>
            </div>
        </div>
    </div>    
    <div class="body">
        <div class="deco">
            <div class="side-pre">
                <h1>Online Shopping</h1>
                <div class="lorem-text">Online shopping made easy with <span>Shoppiz</span><br>An Online shopping platform for make an online purchase and a fast, secure delivery</div>
                <button>Shop now</button>
                <button>Discover</button>
            </div>
            <div class="images">
                <img src="../images/shopping-cart-computer-icons-online-shopping-clip-vector-icon-grocery-cart-5ab0914be6fb71.7538910015215209719461.png" alt="" width="400px">
                <img src="../images/money-transfer-icon-40389.png" alt="">
            </div>
        </div>    
        <div class="info">
            <div class="info-items-header">
                <p>What we have to offer</p>
                <h1>Our Products</h1>
            </div>
            <div class="products">
                <div class="product-items">
                    <img src="../images/jackets_bershka.jpg" alt="" >
                    <h1 class="header-text">Clothing</h1>
                    <p>Purchase the best quality fashion work, sports and outdoor clothing for Men, Women and K!dZ at Shoppiz with a trusted, secure and fast delivery</p>
                    <a href="clothing.html"><button>View All</button></a>
                </div>
                <div class="product-items">
                    <img src="../images/sneakers.jpg" alt="">
                    <h1 class="header-text">Shoes</h1>
                    <p>Purchase the best quality fashion Work, Sports and Outdoor shoes for Men, Women and K!dZ at Shoppiz with a trusted, secure and fast delivery</p>
                    <a href="clothing.html"><button>View All</button></a>

               </div>
               <div class="product-items">
                   <img src="../images/burger.jpg" alt="">
                   <h1 class="header-text">Food</h1>
                    <p>Purchase fast and durable food made by Professional Chefs at Shoppiz with a trusted, secure and fast delivery</p>
                    
                    <span class="new">Coming Soon</span>
                   <a href="clothing.html"><button>View All</button></a>

               </div>
                <div class="product-items">
                    <img src="../images/hero-image.webp" alt="">
                    <h1 class="header-text">Electronics</h1>
                    <p>Get Durable tech equipment (laptops, laptop accessories, etc ) at Shoppiz with a trusted, secure and fast delivery</p>
                    <a href="clothing.html"><button>View All</button></a>

                </div>
                  <div class="product-items">
                    <img src="../images/bookcases.jpg" alt="">
                    <h1 class="header-text">Furniture</h1>
                    <p>Purchase the good quality home and kitchen Furniture at Shoppiz with a trusted, secure and fast delivery</p>
                    <a href="clothing.html"><button>View All</button></a>

                </div>
             
                
            </div>
            <div class="info-about">
                <div class="info-items-header">
                    <p>Who we are</p>
                    <h1>About us</h1>
                </div>
                <p>We are a team of Young and optimistic people with a goal of making your life easier by making your daily needs get closer to you. Our enterprise is currently located in Kigali-Rwanda but our services spread out to the rest of the country</p>
            </div>
            <div class="info-items-header">
                <p>Meet our team</p>
                <h1>Our Team</h1>
            </div>

            <div class="products">
                <div class="product-items">
                    <img src="../images/—Pngtree—default male avatar_5939655.png" alt="" >
                    <h1 class="header-text">Person1</h1>
                    <p>Secretary and Coordinator of Shoppiz company. For more information Visit our Linked to get more info about our team</p>
                    <button>View Profile</button>
                </div>
                <div class="product-items">
                    <img src="../images/—Pngtree—default male avatar_5939655.png" alt="" >
                    <h1 class="header-text">Person2</h1>
                    <p>Software engineer and developer from MIT of Shoppiz company. For more information Visit our Linked to get more info about our team</p>
                    <button>View Profile</button>

               </div>
               <div class="product-items">
                <img src="../images/—Pngtree—default male avatar_5939655.png" alt="" >
                <h1 class="header-text">Person3</h1>
                <p>Quality manager and Coordinator of delivery process of Shoppiz company. For more information Visit our Linked to get more info about our team</p>
                <button>View Profile</button>

            </div>
               <div class="product-items">
                <img src="../images/—Pngtree—default male avatar_5939655.png" alt="" >
                <h1 class="header-text"  >Person4</h1>
                <p>Human resource and Finance manager at Shoppiz company. For more information Visit our Linked to get more info about our team</p>
                <button>View Profile</button>

            </div>
                <div class="product-items">
                    <img src="../images/—Pngtree—default male avatar_5939655.png" alt="" >
                    <h1 class="header-text"  >Person5</h1>
                    <p>Chief Secretary at of Shoppiz company. For more information Visit our Linked to get more info about our team</p>
                    <button>View Profile</button>

                </div>
               
    
    
            </div>
        </div>
        
       
        
        
    </div>
    <div class="about">
        <div>
            <h3>Contact us</h1>

            <a href=""> <img src="../images/New folder/gmail-icon-38468.png" alt="" >shopiz@gmail.com</a><br>
            <a href=""> <img src="../images/New folder/telegram-icon-6248.png" alt="" >Telegram</a><br>
            <a href=""> <img src="../images/New folder/phone-icon-938.png" alt="" >+250 737 155 127</a><br>
            <a href=""> <img src="../images/New folder/whatsapp-icon-3930.png" alt="" >+250 737 155 127</a><br>


        </div>
       
        <div>
            <h3>Follow us</h1>
            <a href=""><img src="../images/New folder/facebook-logo-png-38347.png" alt="" >Facebook</a><br>
            <a href=""> <img src="../images/New folder/twitter-icon-83.png" alt="" >Twitter</a><br>
            <a href=""> <img src="../images/New folder/instagram-icon-971.jpg" alt="" >Instagram</a><br>



            
            
            <div class="copy-right">&copy;shopiz2023_all rights reserved</div>
            
        </div>
        <div>
            <h3>For more information, Visit our:</h1>
                <a href=""><img src="../images/New folder/youtube-logo-png-3566.png" alt="" >Youtube Channel</a><br>
                <a href=""> <img src="../images/New folder/pinterest-logo-icon-3178.png" alt="" >Pinterest</a><br>
                <a href=""> <img src="../images/New folder/linkedin-logo-png-2026.png" alt="" >LinkedIn</a>
                
                
                
                
                
            </div>
            
        </div>
    </div>
</body>
</html>
